@import '@/scss';

@include b(menu-item) {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;

    @extend .reset-li;

    &:hover {
        background: #ddd;
    }

    @include e(icon) {
        margin-right: 10px;
        line-height: 100%;
    }

    @include m(active) {
        color: $red;
        background: #ddd;
    }

}