@import '@/scss';

@include b(menu-item) {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;

    @extend .reset-li;

    &:hover {
        background: #f2f2f2;
    }

    @include e(icon) {
        margin-right: 10px;
    }

    @include m(active) {
        margin-right: 10px;
        color: $red;
    }

}