@import "@/scss";

.menu {
  @extend .reset-ul;
}

@include b(title) {
  margin-left: 15px;
  color: #888;
  font-size: 14px;

  @include e(right) {
    margin-left: auto;
  }

  @include m(fold) {
    margin-left: 3px;
  }

  @include e(view) {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 15px;

    @include m(fold) {
      cursor: pointer;
    }
  }
}
