@import "@/scss";

@include b(search) {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background: #ececec;
  border-radius: 60px;

  @include e(input) {
    @extend .reset-input;

    margin-left: 5px;
  }
}
