@import "@/scss";

@include b(control) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  background: #fff;
  border-top: 1px solid #eee;

  @include e(item) {
    width: calc(100% / 3);

    @include m(music) {
      display: flex;
      align-items: center;
    }

    @include m(center) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include m(setting) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  @include e(item-icon) {
    margin: 0 15px;
    cursor: pointer;

    @include m(play) {
      padding: 15px;
      background: $red;
      border-radius: 60px;
    }
  }

  @include e(photo) {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 8px;
  }

  @include e(author) {
    color: #999;
    font-size: 14px;
  }

  @include e(time) {
    color: #999;
    font-size: 14px;
  }
}
