$elementSeparator: "__";
$modifierSeparator: "--";

@function containsModifier($selector) {
  $selector: selectortostring($selector);

  @if str-index($selector, $modifierSeparator) {
    @return true;
  } @else {
    @return false;
  }
}

@function selectorToString($selector) {
  $selector: inspect($selector);
  //cast to string
  $selector: str-slice($selector, 2, -2);
  //remove brackets
  @return $selector;
}

@function getBlock($selector) {
  $selector: selectortostring($selector);
  $modifierStart: str-index($selector, $modifierSeparator) - 1;

  @return str-slice($selector, 0, $modifierStart);
}

@mixin b($block) {
  .#{$block} {
    @content;
  }
}

@mixin e($element) {
  $selector: &;

  @if containsModifier($selector) {
    $block: getblock($selector);

    @at-root {
      #{$selector} {
        #{$block + $elementSeparator + $element} {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      #{$selector + $elementSeparator + $element} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  @at-root {
    #{&}#{$modifierSeparator + $modifier} {
      @content;
    }
  }
}
