@import '@/scss';

@include b(header-nav) {
    background: #f3f3f3;
    height: 60px;
    display: flex;
    align-items: center;

    @include e(item) {
        color: #333;
        padding: 15px;
        cursor: pointer;

        &:hover {
            color: #000
        }

        @include m(active) {
            color: #000;
            font-weight: bold;
        }
    }

}