@import "@/scss";

@include b(header-nav) {
  display: flex;
  align-items: center;
  height: 60px;
  background: #f3f3f3;

  @include e(item) {
    padding: 15px;
    color: #636363;
    cursor: pointer;

    &:hover {
      color: #2d2d2d;
    }

    @include m(active) {
      color: #2d2d2d;
      font-weight: bold;
    }
  }
}
