@import "@/scss";

@include b(header) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background: #f3f3f3;

  @include e(right) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include e(icon) {
    margin-left: 20px;
  }
}
